<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">{{title}}</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0" autosize>
    <mat-sidenav
      [(opened)]="opened"
      #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list *ngIf="false">
        <a mat-list-item routerLink="interpolation/newton-second-evenly">Другий метод Ньютона з рівновіддаленими вузлами</a>
        <a mat-list-item routerLink="interpolation/newton-first">Перший метод Ньютона з нерівновіддаленими вузлами</a>
        <a mat-list-item routerLink="integration/trapezoid">Складена квадратурна формула трапецій</a>
        <a mat-list-item routerLink="integration/romberg">Алгоритм Ромберга</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item *ngFor="let r of routes" routerLink="{{r.path}}">{{r.name}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
